h1 {
  position: fixed;
  top: 0px;
  background-color: gold;
  padding: 10px;
}
.carlos-section {
  background-image: linear-gradient(to bottom right, red, yellow);
}
.carlos-row1 {
  display: table-row;
}
.carlos-movie,
.carlos-book,
.carlos-hobby {
  height: 300px;
}
.carlos-name {
  text-align: left;
  margin-top: 100px;
  color: white;
  background-color: black;
}
.poster-card {
  border: 2px solid black;
  height: 300px;
  margin: 10px;
  padding: 20px;
  display: table-cell;
}

.omars-section {
  background-image: linear-gradient(to left, grey, violet);
}

.row1 {
  display: table-row;
}

.sample-omar {
  margin: 30px;
}

.kyeongseo {
  text-align: center;
  background-color: #faebd7;
}

.kmovie {
  text-align: center;
}
.img {
  border:3px dotted red;
  float:center;
}
